---
import RawLayout from "../layouts/RawLayout.astro";
import RootLayout from "../layouts/RootLayout.astro";
---

<RootLayout title="Sobre">
	<RawLayout>
		<h1>Sobre Mim</h1>
		<p>Meu nome é Pedro Colle, as vezes faço algumas coisas.</p>
		<div class="img-holder">
			<img src=`${import.meta.env.BASE_URL}/sad-chopper.jpeg` alt="Chopper triste">
		</div>
	</RawLayout>
</RootLayout>
<style>
	h1 {
		font-size: 3rem;
		font-weight: 700;
		line-height: 1;
		text-align: center;
		margin-bottom: 1em;
	}
	.img-holder{
		display: flex;
		flex-direction: column;
		text-align: center;
		align-items: center;
	}
</style>