---
import RawLayout from '../layouts/RawLayout.astro';
import RootLayout from '../layouts/RootLayout.astro';
---

<RootLayout title="Blog">
	<RawLayout>
		<h1>Meu blog e tal</h1>
		<h2>Motivações</h2>
		<p>
			O objetivo deste blog é ser um espaço em que eu possa publicar coisas dos mais diferentes interesses, 
			tipo, receitas, meu tcc e, se algum dia eu me motivar, música. Acredito que para mim, um blog é uma ferramenta
			mais interessante, pois serve mais como um local e não um evento. Nas redes sociais, posts são distribuídos e 
			anunciados para todos os seguidores, pedindo pela atenção das outras pessoas. 
		</p>
		<p>
			Isso leva a uma expectativa de que o que será mostrado vale o seu tempo (talvez isso fale mais sobre 
			mim do que sobre o mundo, mas paciência). Porém, no formato do blog, o conteúdo existe, e só se você estiver
			interessado que irá consumi-lo. Então isso tira muito do peso do "vale apena" das publicações. Além do mais, 
			eu não sou muito uma pessoa das mídias visuais.
		</p>
		<p>
			Blogs também tem a vantagem de serem mais customizados, podendo carregar um nível maior de conteúdo e com mais detalhes.
			Já que a minha meta é publicar algumas coisas do TCC, me motivando a estudar e escrever o que eu leio para reforçar o conteúdo,
			eu não tinha muitas opções. Existe o linked-in, mas eu não sou esperto o suficiente para invetar 
			<a href="https://www.reddit.com/r/LinkedInLunatics/comments/13tbfqm/what/">novas fórmulas sobre a velocidade da luz</a>.
		</p>
		<h2>Construção do Blog</h2>
		<h3>Framework</h3>
		<p>
			Esse blog é construído em cima do framework <a href="https://astro.build/">Astro</a>. Que é ótimo para fazer sites estáticos e tem um baita
			suporte para markdown logo de cara. Se assemelha bastante com o <a href="https://nextjs.org/">Nextjs</a> na época que tinha as chamadas
			<code>getServerSideProps</code>. Mas talvez seja só o file base routing e o <code>getStaticPaths</code> que remetem levemente.
		</p>
		<h3>Obsidian</h3>
		<p>
			Os posts são arquivos em markdown, editados com o <a href="https://obsidian.md/">Obsidian</a>. 
			Essa é uma ferramenta incrível para quem faz anotações pelo computador.
			Extremamente similar ao 
			<a href="https://www.notion.so/pt">Notion</a> e o 
			<a href="https://evernote.com/pt-br">Evernote</a>. 
			A diferença do Obsidian é que ele é gratuito e suporta pluguins da comunidade.
			Há a opção de pagar, aprox. 4 dolares por mês, para a sincronização de arquivos entre múltiplos dispositivos, 
			mas se uso no celular não é um requerimento, nada que usar git não resolva.
		</p>
		<p>
			Antes de usar os arquivos markdown do obsidian no projeto astro, deve-se fazer algumas alterações. A principal delas é que os links
			feitos entre os arquivos são só pelo nome, da forma <code>[[link para a página]]</code>, sem o url (O aplicativo faz o routing).
			Isso vale para imagens e links internos, então deve-se fazer um parse inicial para localizar esses lugares e trocar o nome. Além disso,
			o nome do arquivo é o título da página, mas quando exportado em .md ele não aparece, então deve ser inserido no arquivo. Também
			há alguns metadados interessantes que o Obsidian guarda que não ficam no frontmatter do markdown, que são adicionados.
		</p>
		<p>
			Todo esse processo é feito por uma <a href="https://github.com/Sacolle/ObiToAstro">extensão</a> feita por mim (dica, ela não é muito robusta).
			Há algumas modificações a serem feitas ainda pra o uso neste projeto, visto que ele só trata esse contexto específico. 
			Poderia também fazer uma integração mais forte com o projeto astro, mas isso fica para outro momento.
		</p>
		<h3>Dev. Ops</h3>
		<p>
			O hosteamento é feito pelo <a href="https://pages.github.com/">github pages</a>, 
			com a build do site sendo feita pelo <a href="https://docs.github.com/en/actions">github actions</a>. 
			<a href="https://docs.astro.build/en/guides/deploy/github/">O próprio site do astro</a> indica como fazer isso.
		</p>
		<p>
			No momento ainda falta bastante coisa pra esse site ficar legal. 
			Pretendo adicionar mais integração ao obisidian.
			Então, espero que esse site um dia fique bonito e tal. 
		</p>
		<div class="img-holder">
			<img src=`${import.meta.env.BASE_URL}/chopper.JPG` alt="chopper vibbin'">
			me btw
		</div>
	</RawLayout>
</RootLayout>

<style>
	.img-holder{
		display: flex;
		flex-direction: column;
		text-align: center;
		align-items: center;
	}
	h1 {
		font-size: 3rem;
		font-weight: 700;
		line-height: 1;
		text-align: center;
		margin-bottom: 1em;
	}
</style>
