---
interface Props {
}

const { } = Astro.props;
const now = new Date()
const updatedDate = now.toLocaleDateString("en-GB")
---

<footer>
	Atualizado pela vez em: {updatedDate} <br>
	Ícones da biblioteca <a href="https://feathericons.com/">feather</a> <br>
	Tenha um ótimo dia
</footer>

<style>

</style>