---
import ContentSideBar from "../components/ContentSideBar.astro";

---
<main>
	<ContentSideBar/>
	<article>
		<slot/>
	</article>
</main>

<style>
	main {
		display: grid;
		grid-template-columns: 20% 60% 20%;
		color: var(--font-color);
		min-height: 100vh;
	}

	article {
		--margin-size: 10%;
		font-size: 20px;
		line-height: 1.6;
		margin: 2vh var(--margin-size) 1vh var(--margin-size);
	}
	h1 {
		font-size: 3rem;
		font-weight: 700;
		line-height: 1;
		text-align: center;
		margin-bottom: 1em;
	}

	article :global(h1) {
		font-size: 3rem;
		font-weight: 700;
		line-height: 1;
		text-align: center;
		margin-bottom: 1em;
	}

	article :global(a) {
		position: relative; 
		color: var(--complementary-color);
		text-decoration: none; 
	}

	article :global(a)::after {
		content: '';
		position: absolute;
		left: -105%;
		bottom: 0;
		width: 105%; /* Adjust size as needed */
		height: 2px; /* tamanho da barra */
		background-color: var(--secondary-color);
		transform: translateX(50%) scaleX(0); 
		transition: transform 0.3s ease;
		z-index: -1; /* Make sure it stays behind the text */
	}

	article :global(a):hover::after {
		transform: translateX(100%) scaleX(1); 
	}

	@media (max-width: 800px) {
		main {
			grid-template-columns: 0% 100% 0%;
		}
	}

	@media (max-width: 800px) {
		main {
			grid-template-columns: 0% 100% 0%;
		}
	}
</style>